<div id="sessions-1">
    <div class="lights"></div>
    <div class="button_link">
        <div class="download">
            <a href="/tai-game.html" target="_blank">
                <canvas id="canvas_button" style="position: absolute; top: 0px; left: 0px;" width="241" height="126"></canvas>
            </a>
        </div>
        <div class="resgiter">
            <a data-fancybox-type="iframe" class="various" href="http://cuuam.gosu.vn/home/home/popup/register.html">Đăng ký</a
      >
    </div>
    <div class="card">
      <a href="https://pay.gosu.vn/Payment/Prepay" target="_blank">Nạp thẻ</a>
        </div>
    </div>
    <!-- button-link end -->

    <div class="slider-link">
        <div id="boxEvent">
            <ul id="img">
                <li class="ActiveBanner">
                    <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/giai-nhiet-mua-he.html" alt="" target="_blank">
                        <span class="BorderEvent"></span>
                        <img width="491" height="253" title="" alt="" src="http://cuuam.gosu.vn/home/static/uploads/news/2020/6/1/491x253.jpg" />
                    </a>
                </li>
                <li class="">
                    <a href="https://id.gosu.vn/News/Details/167" alt="" target="_blank">
                        <span class="BorderEvent"></span>
                        <img width="491" height="253" title="" alt="" src="http://cuuam.gosu.vn/home/static/uploads/banner-su-kien/2018/7/5/slide.jpg" />
                    </a>
                </li>
                <li class="">
                    <a href="http://cuuam.gosu.vn/home/cau-lac-bo" alt="" target="_blank">
                        <span class="BorderEvent"></span>
                        <img width="491" height="253" title="" alt="" src="http://cuuam.gosu.vn/home/static/uploads/news/2019/thang-7/5/491-x-253.gif" />
                    </a>
                </li>
                <li class="">
                    <a href="http://cuuam.gosu.vn/home/cuu-am-bao-dien/tan-thu/co-ban/dang-ky-tai-khoan.html" alt="" target="_blank">
                        <span class="BorderEvent"></span>
                        <img width="491" height="253" title="" alt="" src="http://cuuam.gosu.vn/home/static/uploads/banner/Home/10/01/491x253.jpg" />
                    </a>
                </li>
            </ul>

            <ul id="imgControl">
                <li id="item1">
                    <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/giai-nhiet-mua-he.html" alt="" target="_blank">1</a
          >
        </li>
        <li id="item2">
          <a href="https://id.gosu.vn/News/Details/167" alt="" target="_blank"
            >1</a
          >
        </li>
        <li id="item3">
          <a href="http://cuuam.gosu.vn/home/cau-lac-bo" alt="" target="_blank"
            >1</a
          >
        </li>
        <li id="item4">
          <a
            href="http://cuuam.gosu.vn/home/cuu-am-bao-dien/tan-thu/co-ban/dang-ky-tai-khoan.html"
            alt=""
            target="_blank"
            >1</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- slider-link end -->

  <div class="event-link">
    <div class="giangho">
      <a href="http://cuuam.gosu.vn/gianghokybao/" target="_blank"
        >Giang hồ kỳ bảo</a
      >
    </div>
    <div class="support">
      <a href="http://hotro.gosu.vn" target="_blank">Hỗ trợ</a>
        </div>
        <div class="giftcode">
            <a href="https://pay.gosu.vn/Cuuam/Recharge" target="_blank">Giftcode</a>
        </div>
        <div class="vip">
            <a href="https://pay.gosu.vn/Cuuam/VIP" target="_blank">VIP</a>
            <!-- https://id.gosu.vn/Cuuam/VIP -->
        </div>

        <div class="hotline"></div>
    </div>
    <!-- event-link end -->
</div>