@import "../../../assets/css/slick-theme.scss";
@import "../../../assets/css/slick.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css";
@import "../../../assets/css/base.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.content-footer {
    top: 25px;
}

.footer-link {
    height: 30px;
    left: 190px;
    position: absolute;
    top: 4px;
    width: 520px;
}

.footer-link ul {
    list-style: none;
}

.footer-link li {
    float: left;
    margin-left: 5px;
    color: #000;
}

.footer-link li a {
    color: #2e2e2e;
    font-size: 12px;
    font-family: Tahoma;
}

.footer-link li a:hover {
    color: #e80812;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.dashboard-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .user-info {
        text-align: right;
        padding-top: 20px;
        color: white;
        padding-right: 10px;
        a {
            cursor: pointer;
        }
    }
}

.back-ground {
    position: absolute;
    width: 100%;
    height: 30%;
    background: url(/assets/images/bgd_footer.jpg) no-repeat bottom center #f2f2f2;
}

#header {
    height: 15rem;
}