@import "../../../assets/css/slick-theme.scss";
@import "../../../assets/css/slick.scss";
@import "../../../assets/css/styles.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css";
@import "../../../assets/css/base.css";
.content-footer {
    top: 25px;
}

.footer-link {
    height: 30px;
    left: 190px;
    position: absolute;
    top: 4px;
    width: 520px;
}

.footer-link ul {
    list-style: none;
}

.footer-link li {
    float: left;
    margin-left: 5px;
    color: #000;
}

.footer-link li a {
    color: #2e2e2e;
    font-size: 12px;
    font-family: Tahoma;
}

.footer-link li a:hover {
    color: #e80812;
}