<div class="session-right">
    <div class="box-option">
        <h1 class="title">BẢNG XẾP HẠNG</h1>
        <ul class="ranking">
            <li *ngFor="let player of ranking">
                <div class="img">
                    <img src="http://undefeatedran.com/templates/orion/images/class/GM.jpg" title="{{player.name}}"><span class="overlay-link"></span>
                </div>
                <div class="info">({{player.rank}}) <a>{{player.name}}</a><br>
                    <!-- <small>P H X</small> -->
                    <br>
                    <small>Level: <span>{{player.level}}</span> - Giết: <span>{{player.kill}}</span> - Chết:
                        <span>{{player.death}}</span></small><br>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>

    <!-- END môn phái -->
    <div class="box-fanpage">
        <div class="title-link"><span class="icon-title"></span>Fanpage</div>
        <ul class="fanpage-content">
            <div class="fb-like-box" data-href="https://www.facebook.com/cuuam.gosu.vn" data-width="240" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">
            </div>
        </ul>
    </div>
    <!-- END fanpage -->

    <!-- End block banner_banner-event -->
</div>
<!-- session-right -->