<div class="session-left">
    <div class="news-link">
        <ul class="tabs-news">
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab1-news">Tin mới</a></h2>
            </li>
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab2-news">Thông báo</a></h2>
            </li>
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab3-news">Sự kiện</a></h2>
            </li>
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab4-news">Cộng đồng</a></h2>
            </li>
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab5-news">Báo chí</a></h2>
            </li>
            <li class="tab-news">
                <h2><a class="tbnews" href="#tab6-news">Hướng dẫn</a></h2>
            </li>
        </ul>
        <li class="details_news">
            <a class="tbnews" href="http://cuuam.gosu.vn/home/news/tin-moi.html" target="_blank">+</a
      >
    </li>

    <div class="news-content-tab" id="tab1-news">
      <div class="container-event-info event-vk">
        <div class="container-event-image">
          <a
            href="http://cuuam.gosu.vn/home/news/su-kien/khuyen-mai-danh-tuan-chao-thang-7.html"
          >
            <img
              src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/4/daidien.jpg"
            />
          </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="http://cuuam.gosu.vn/home/news/su-kien/khuyen-mai-danh-tuan-chao-thang-7.html">
              Khuyến mãi Danh Tuấn chào tháng 7
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Từ 0h00 ngày 01/07 đến 23h59 ngày 05/07/2020, quý nhân sĩ tiến hành mua Danh Tuấn sẽ được giảm giá 20%. Đừng bỏ lỡ!
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-cap-nhat-may-chu-ngay-01072020.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_bt.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-cap-nhat-may-chu-ngay-01072020.html">
              Bảo trì cập nhật máy chủ ngày 01/07/2020
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Hệ thống máy chủ Cửu Âm Chân Kinh sẽ tiến hành bảo trì từ 09:00 đến 12:00 ngày 01/07/2020.
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="http://cuuam.gosu.vn/home/news/su-kien/uu-dai-nap-vang-cuoi-thang-6-co-gi.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/av.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="http://cuuam.gosu.vn/home/news/su-kien/uu-dai-nap-vang-cuoi-thang-6-co-gi.html">
              Ưu đãi nạp Vàng cuối tháng 6 có gì?
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Nhiều vật phẩm vô cùng hấp dẫn trong ưu đãi nạp Vàng cuối tháng 6/2020 đang chờ đón quý nhân sỹ.
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="http://cuuam.gosu.vn/home/news/su-kien/tieu-phi-vang-nhan-hoa-can-dai-2806-0107.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/960x960x2.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="http://cuuam.gosu.vn/home/news/su-kien/tieu-phi-vang-nhan-hoa-can-dai-2806-0107.html">
              Tiêu phí Vàng - Nhận Hỏa Cán Đài (28/06 - 01/07)
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>28-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Từ 0h00 ngày 28/06 đến 23h59 ngày 01/07/2020, quý nhân sĩ khi tiêu phí trên trân các hay quy đổi Vàng thành Bạc nén sẽ nhận được Hỏa Cán Đài.
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="http://cuuam.gosu.vn/home/news/tin-tuc/lo-dien-vip-9-thu-nam-cua-cuu-am-chan-kinh.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/9.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/lo-dien-vip-9-thu-nam-cua-cuu-am-chan-kinh.html">
              Lộ diện VIP 9 thứ năm của Cửu Âm Chân Kinh
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>26-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Cách đây ít ngày, có một"anh lớn" đã chạm mốc VIP 9 thứ 5 của Cửu Âm Chân Kinh.
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/mi-loc-vuong.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/28-10-2016-8-33-49-sa.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/mi-loc-vuong.html">
              Chế ngự Mi Lộc, hạ gục Lộc Vương
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>26-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Từ ngày 24/06 đến ngày 28/06/2020, ai sẽ tham gia trận chiến này và giành được bảo vật của Mi Lộc thú?
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/trieu-dinh-phong-thuong.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_sk.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/trieu-dinh-phong-thuong.html">
              [22/06 - 27/06] Triều Đình Phong Thưởng
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>25-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Hãy nhanh chóng tham gia bởi quý nhân sĩ sẽ có cơ hội nhận được 2 phúc lợi lớn, mở ra những vật phẩm đáng giá!
            </h4>
        </div>
    </div>
</div>
<div class="container-event-info event-vk">
    <div class="container-event-image">
        <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/online-nhan-qua.html">
            <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/960x960x2.jpg" />
        </a>
    </div>
    <div class="container-event-content">
        <h3>
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/online-nhan-qua.html">
              Tối nay nhận quà online đợt 3!
            </a>
        </h3>
        <p class="event-date">Ngày đăng: <span>23-06-2020</span></p>
        <div class="container-event-description">
            <h4>
                Trong thời gian sự kiện, mỗi tối 20:30-22:30, tích lũy thời gian online đạt 45 phút có thể nhận được phần quà tương ứng.
            </h4>
        </div>
    </div>
</div>

<div class="page">
    <div class="top"><a href="#">Lên trên</a></div>
    <div class="details">
        <a href="http://cuuam.gosu.vn/home/news/tin-tuc.html">Xem thêm</a>
    </div>
</div>
</div>
<!-- END Tin mới -->

<div class="news-content-tab" id="tab2-news">
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-cap-nhat-may-chu-ngay-01072020.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_bt.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-cap-nhat-may-chu-ngay-01072020.html">
              Bảo trì cập nhật máy chủ ngày 01/07/2020
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Hệ thống máy chủ Cửu Âm Chân Kinh sẽ tiến hành bảo trì từ 09:00 đến 12:00 ngày 01/07/2020.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/lo-dien-vip-9-thu-nam-cua-cuu-am-chan-kinh.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/9.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/lo-dien-vip-9-thu-nam-cua-cuu-am-chan-kinh.html">
              Lộ diện VIP 9 thứ năm của Cửu Âm Chân Kinh
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>26-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Cách đây ít ngày, có một"anh lớn" đã chạm mốc VIP 9 thứ 5 của Cửu Âm Chân Kinh.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/dong-nhan-diem-la-khi-nap-vao-vi-gosu.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_tb.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/dong-nhan-diem-la-khi-nap-vao-vi-gosu.html">
              Đóng nhận điểm Lá khi nạp vào Ví GOSU
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>23-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Với số điểm Lá còn trên tài khoản, người chơi vẫn có thể tiến hành đối quà ở SHOP LÁ.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/khai-mo-tu-noi-may-chu-cam-y-ve.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_tb.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/khai-mo-tu-noi-may-chu-cam-y-ve.html">
              Khai mở Tứ nội máy chủ Cẩm Y Vệ
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>22-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Nội công 4 sẽ được khai mở tại máy chủ Cẩm Y Vệ vào lúc 10h00, ngày 23/06/2020 .
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/mung-lien-thong-toan-dan-nhan-qua.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/10.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/mung-lien-thong-toan-dan-nhan-qua.html">
              Mừng liên thông - Toàn dân nhận quà
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>19-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Mừng liên thông máy chủ Độc Cô Cầu Bại & Đông Phương Bất Bại, toàn dân đều được nhận quà.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-lien-thong-may-chu-doc-co-cau-bai-dong-phuong-bat-bai.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_bt.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/bao-tri-lien-thong-may-chu-doc-co-cau-bai-dong-phuong-bat-bai.html">
              Bảo trì liên thông máy chủ Độc Cô Cầu Bại & Đông Phương Bất Bại
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>19-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Với mong muốn đem đến không khí sôi nổi hơn trong những trận PK máu lửa, CACK sẽ chính thức liên thông máy chủ Độc Cô Cầu Bại & Đông Phương Bất Bại.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/qua-ho-tro-lien-thong-may-chu-dong-phuong-bat-bai.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_tt.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/qua-ho-tro-lien-thong-may-chu-dong-phuong-bat-bai.html">
              Quà hỗ trợ liên thông máy chủ Đông Phương Bất Bại
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>16-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Các nhân sĩ ở máy chủ Đông Phương Bất Bại sẽ nhận được những gói quà hỗ trợ liên thông giá trị.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/tin-tuc/thong-bao-lien-thong-may-chu-doc-co-cau-bai-dong-phuong-bat-bai.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/news/2020/6/5/143x137.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/tin-tuc/thong-bao-lien-thong-may-chu-doc-co-cau-bai-dong-phuong-bat-bai.html">
              Thông báo liên thông máy chủ Độc Cô Cầu Bại & Đông Phương Bất Bại
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>15-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Cửu Âm Chân Kinh dự kiến liên thông máy chủ Độc Cô Cầu Bại & Đông Phương Bất Bại vào ngày 22/06/2020. Click để biết thêm chi tiết.
                </h4>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="top"><a href="#">Lên trên</a></div>
        <div class="details">
            <a href="http://cuuam.gosu.vn/home/news/thong-bao.html">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END Thông báo -->

<div class="news-content-tab" id="tab3-news">
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/su-kien/khuyen-mai-danh-tuan-chao-thang-7.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/4/daidien.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/su-kien/khuyen-mai-danh-tuan-chao-thang-7.html" target="_blank">
              Khuyến mãi Danh Tuấn chào tháng 7
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Từ 0h00 ngày 01/07 đến 23h59 ngày 05/07/2020, quý nhân sĩ tiến hành mua Danh Tuấn sẽ được giảm giá 20%. Đừng bỏ lỡ!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/su-kien/uu-dai-nap-vang-cuoi-thang-6-co-gi.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/av.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/su-kien/uu-dai-nap-vang-cuoi-thang-6-co-gi.html" target="_blank">
              Ưu đãi nạp Vàng cuối tháng 6 có gì?
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>30-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Nhiều vật phẩm vô cùng hấp dẫn trong ưu đãi nạp Vàng cuối tháng 6/2020 đang chờ đón quý nhân sỹ.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/su-kien/tieu-phi-vang-nhan-hoa-can-dai-2806-0107.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/960x960x2.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/su-kien/tieu-phi-vang-nhan-hoa-can-dai-2806-0107.html" target="_blank">
              Tiêu phí Vàng - Nhận Hỏa Cán Đài (28/06 - 01/07)
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>28-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Từ 0h00 ngày 28/06 đến 23h59 ngày 01/07/2020, quý nhân sĩ khi tiêu phí trên trân các hay quy đổi Vàng thành Bạc nén sẽ nhận được Hỏa Cán Đài.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/mi-loc-vuong.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/28-10-2016-8-33-49-sa.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/mi-loc-vuong.html" target="_blank">
              Chế ngự Mi Lộc, hạ gục Lộc Vương
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>26-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Từ ngày 24/06 đến ngày 28/06/2020, ai sẽ tham gia trận chiến này và giành được bảo vật của Mi Lộc thú?
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/trieu-dinh-phong-thuong.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_sk.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/trieu-dinh-phong-thuong.html" target="_blank">
              [22/06 - 27/06] Triều Đình Phong Thưởng
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>25-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Hãy nhanh chóng tham gia bởi quý nhân sĩ sẽ có cơ hội nhận được 2 phúc lợi lớn, mở ra những vật phẩm đáng giá!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/online-nhan-qua.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/960x960x2.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="https://cuuam.gosu.vn/home/su-kien/chuoi-su-kien-thang-6/online-nhan-qua.html" target="_blank">
              Tối nay nhận quà online đợt 3!
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>23-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Trong thời gian sự kiện, mỗi tối 20:30-22:30, tích lũy thời gian online đạt 45 phút có thể nhận được phần quà tương ứng.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/su-kien/tich-luy-nap-vang-mung-tu-noi.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/143x137(3).jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/su-kien/tich-luy-nap-vang-mung-tu-noi.html" target="_blank">
              Tích lũy nạp Vàng, mừng Tứ Nội
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>22-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Tích lũy Vàng nhận quà cùng nhiều vật phẩm hữu ích sẽ giúp chư vị nhân sĩ chinh phục giang hồ dễ dàng hơn! Xem ngay!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/su-kien/1606-ron-rang-khuyen-mai-ngay-vang.html" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/28-10-2016-8-33-49-sa.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/su-kien/1606-ron-rang-khuyen-mai-ngay-vang.html" target="_blank">
              16/06 - Rộn ràng khuyến mãi ngày Vàng
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>15-06-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Quý nhân sĩ tham gia nạp đạt mốc trong ngày 16/06/2020 sẽ nhận ngay những phần thưởng giá trị!
                </h4>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="top"><a href="#">Lên trên</a></div>
        <div class="details">
            <a href="http://cuuam.gosu.vn/home/event.html">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END Sự kiện -->

<div class="news-content-tab" id="tab4-news">
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="https://www.facebook.com/cuuam.gosu.vn/posts/2863467930388732?__tn__=-R">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="https://www.facebook.com/cuuam.gosu.vn/posts/2863467930388732?__tn__=-R">
              Câu lạc bộ Ma Giáo Chi Tâm tổ chức offline tháng 05/2020
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>20-05-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Vào ngày 15/05 vừa qua, CLB Ma Giáo Chi Tâm đã tổ chức offline CLB tại Hà Nội với 17 thành viên tham dự, khai mở cho nhiều hoạt động hấp dẫn diễn ra trong thời gian tới.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/tung-bung-offline-clb-cuu-am-chan-kinh-2020.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/9.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/tung-bung-offline-clb-cuu-am-chan-kinh-2020.html">
              Tưng bừng offline CLB Cửu Âm Chân Kinh 2020
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>15-05-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Cửu Âm Chân Kinh triển khai offline CLB với thể thức và phần thưởng mới đầy hấp dẫn. Xem ngay!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/noi-doi-quen-loi-ve-rinh-ngay-qua-that-de.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/news/2020/4/1/143x137.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/noi-doi-quen-loi-ve-rinh-ngay-qua-that-de.html">
              Nói dối quên lối về, rinh ngay quà thật dễ!
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>31-03-2020</span></p>
            <div class="container-event-description">
                <h4>
                    Các bài tham gia hợp lệ đều nhận được 3 Kỳ Trân Dị Bảo, 50 Ngũ Uẩn Phục Ma Phẩm và 5 Kim Nguyên Tái Sinh Đan.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/mot-ngay-cua-cuu-am-chan-kinh-nen-lam-nhung-gi.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cn.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/mot-ngay-cua-cuu-am-chan-kinh-nen-lam-nhung-gi.html">
              Một ngày của Cửu Âm Chân Kinh “nên” làm những gì?
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>24-02-2020</span></p>
            <div class="container-event-description">
                <h4>
                    10h00 ngày 25/02/2020, máy chủ mới Cẩm Y Vệ sẽ chính thức khai mở. Bạn đã chuẩn bị gì cho quá trình làm tân thủ đầy"thử thách" tại Cửu Âm Chân Kinh chưa?
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/su-kien-hot-quay-clip-chuc-tet-mung-nam-moi-2020.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/2.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/su-kien-hot-quay-clip-chuc-tet-mung-nam-moi-2020.html">
              [Sự kiện HOT] Quay clip chúc Tết - Mừng năm mới 2020
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>29-12-2019</span></p>
            <div class="container-event-description">
                <h4>
                    Không ngoa khi nói rằng, làm thơ viết văn, quay clip đẹp chưa bao giờ gây khó gamer Cửu Âm Chân Kinh. Tại sao mọi người không tham gia quay clip chúc Tết để nhận ngay những phần quà hấp dẫn?
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-huong-dan-thong-quan-dai-mac-quy-thanh-trong-30-phut.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-huong-dan-thong-quan-dai-mac-quy-thanh-trong-30-phut.html">
              [Bài dự thi review PBM] - Hướng dẫn thông quan Đại Mạc Quỷ Thành
              trong 30 phút
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>06-12-2019</span></p>
            <div class="container-event-description">
                <h4>
                    Bài dự thi của nhân sĩ ..Câm.. về Hướng dẫn thông quan Đại Mạc Quỷ Thành trong 30 phút. Chư vị hãy cùng xem nhé!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-hanh-trinh-cam-dia-dai-mac-quy-thanh.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-hanh-trinh-cam-dia-dai-mac-quy-thanh.html">
              [Bài dự thi review PBM] - Hành trình Cấm Địa Đại Mạc Quỷ Thành
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>06-12-2019</span></p>
            <div class="container-event-description">
                <h4>
                    Bài dự thi của nhân sĩ LiễuKhinhVũ về hành trình Cấm Địa Đại Mạc Quỷ Thành. Chư vị hãy cùng xem nhé!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-he-thong-su-do-cua-pbm-phong-van-thien-ha.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/cong-dong/bai-du-thi-review-pbm-he-thong-su-do-cua-pbm-phong-van-thien-ha.html">
              [Bài dự thi review PBM] - Hệ thống Sư Đồ của PBM Phong Vân Thiên
              Hạ
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>06-12-2019</span></p>
            <div class="container-event-description">
                <h4>
                    Bài dự thi của nhân sĩ AnnabeIIe về Hệ thống Sư Đồ của PBM Phong Vân Thiên Hạ. Chư vị hãy cùng xem nhé!
                </h4>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="top"><a href="#">Lên trên</a></div>
        <div class="details">
            <a href="http://cuuam.gosu.vn/home/news/cong-dong.html">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END Cộng đồng -->

<div class="news-content-tab" id="tab5-news">
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/chuoi-event-tet-cua-cuu-am-chan-kinh-ngoai-trang-vo-hoc-hiem-tran-ngap.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/news/2016/thang-1/banner-tet/143x137.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/chuoi-event-tet-cua-cuu-am-chan-kinh-ngoai-trang-vo-hoc-hiem-tran-ngap.html">
              Chuỗi event Tết của Cửu Âm Chân Kinh: Ngoại Trang, Võ Học Hiếm
              tràn ngập
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>02-02-2019</span></p>
            <div class="container-event-description">
                <h4>
                    Tổng kết một năm thành công với hai máy chủ và một đại phiên bản, BQT của Cửu Âm Chân Kinh tổ chức nhiều event Tết, và các sự kiện tri ân với phần quà giá trị lớn.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/vo-hoc-cua-cuu-am-chan-kinh-3d-dat-con-so-ky-luc.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/tintuc.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/vo-hoc-cua-cuu-am-chan-kinh-3d-dat-con-so-ky-luc.html">
              Võ học của Cửu Âm Chân Kinh 3D đạt con số kỷ lục
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>27-09-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Với Đạt Ma Phái và Ngũ Tiên Giáo, số lượng môn phái và võ học của Cửu Âm Chân Kinh 3D đạt con số kỷ lục
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/cuu-am-chan-kinh-chi-5-nam-de-tro-thanh-tuong-dai-game-3d-nhap-vai.html">
                <img src="http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/images/default.jpg?v=2" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/cuu-am-chan-kinh-chi-5-nam-de-tro-thanh-tuong-dai-game-3d-nhap-vai.html">
              Cửu Âm Chân Kinh – chỉ 5 năm để trở thành tượng đài game 3D nhập
              vai
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>10-07-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Vượt qua sự cạnh tranh quyết liệt của nhiều đối thủ sừng sỏ, Cửu Âm Chân Kinh đã đạt được nhiều thành tựu đáng nể trong 5 năm qua, xứng đáng là một tượng đài trong thị trường game Việt Nam nói chung và dòng MMORPG 3D nói riêng.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/lay-lai-niem-tin-cho-cac-game-thu-ve-mot-giai-dau-pvp-chuyen-nghiep.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/news/2017/thang-9/tin-tuc/tin-tuc-giai-dau/atac.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/lay-lai-niem-tin-cho-cac-game-thu-ve-mot-giai-dau-pvp-chuyen-nghiep.html">
              Lấy lại niềm tin cho các game thủ về một Giải Đấu PvP chuyên
              nghiệp
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>30-09-2017</span></p>
            <div class="container-event-description">
                <h4>
                    Mới đây, Cửu Âm Chân Kinh đã ra mắt giải đấu Lục Long Chi Chiến, lấy lại niềm tin cho cộng đồng về một sân chơi PvP thực sự chuyên nghiệp…
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/qua-la-sai-lam-neu-ban-nghi-game-thu-viet-chi-thich-cac-game-mi-an-lien.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-3/8.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/qua-la-sai-lam-neu-ban-nghi-game-thu-viet-chi-thich-cac-game-mi-an-lien.html">
              Quả là sai lầm nếu bạn nghĩ game thủ Việt chỉ thích các game"mì ăn
              liền"
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>23-08-2017</span></p>
            <div class="container-event-description">
                <h4>
                    Bởi lẽ qua thời gian, các tựa game Client, đặc biệt là các sản phẩm 3D"hardcore" đỉnh cao vẫn luôn giữ được vị thế vượt trội cũng như sức nóng của mình, thu hút hàng triệu game thủ tham gia trải nghiệm và gắn bó dài lâu.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/nhin-lai-4-nam-chinh-chien-cua-cuu-am-chan-kinh.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_tt.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/nhin-lai-4-nam-chinh-chien-cua-cuu-am-chan-kinh.html">
              Nhìn lại 4 năm chinh chiến của Cửu Âm Chân Kinh
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>20-07-2017</span></p>
            <div class="container-event-description">
                <h4>
                    Bốn năm đồng hành sát cánh, sự gắn bó của các game thủ trong ngôi nhà chung này chính là yếu tố quan trọng khiến Cửu Âm Chân Kinh không ngừng đi lên, trong khi các đối thủ khác đã bước vào giai đoạn thoái trào…
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/pewpew-bat-ngo-bi-game-thu-cuu-am-chan-kinh-doa-san-sap-mat-nhu-qtv.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/pewpew.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/pewpew-bat-ngo-bi-game-thu-cuu-am-chan-kinh-doa-san-sap-mat-nhu-qtv.html">
              PewPew bất ngờ bị game thủ Cửu Âm Chân Kinh dọa săn sấp mặt như
              QTV
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>28-06-2017</span></p>
            <div class="container-event-description">
                <h4>
                    Vào 21h00 tối mai, 29/06, nhân ngay máy chủ mới Kiều Phong ra mắt, PewPew sẽ chính thức đến với Cửu Âm Chân Kinh.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi/the-gioi-nay-la-cua-loli-va-shota.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-2/avta.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/bao-chi/the-gioi-nay-la-cua-loli-va-shota.html">
              "Thế giới này là của Loli và Shota" - Cosplay em chưa 18 cute hết
              nấc
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>28-06-2017</span></p>
            <div class="container-event-description">
                <h4>
                    Sẽ ra sao khi các vị chưởng môn cao cao tại thượng của bạn sau một đêm tu luyện trở thành nhân vật có gương mặt trẻ thơ nhưng nội công thâm hậu của người lớn? Đó là viễn cảnh sắp sửa diễn ra với phiên bản Tiềm Long Loạn Thế của Cửu Âm Chân Kinh.
                </h4>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="top"><a href="#">Lên trên</a></div>
        <div class="details">
            <a href="http://cuuam.gosu.vn/home/news/bao-chi.html">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END Báo chí -->

<div class="news-content-tab" id="tab6-news">
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/newbie-tips-bo-tui-danh-cho-tan-thu.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/newbie-tips-bo-tui-danh-cho-tan-thu.html">
              [Newbie] Tips bỏ túi dành cho Tân Thủ
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>24-07-2019</span></p>
            <div class="container-event-description">
                <h4>
                    10h00 ngày 24/07/2019, Máy chủ mới Tiểu Long Nữ sẽ chính thức khai mở. Bạn đã chuẩn bị gì cho quá trình làm tân thủ đầy"thử thách" tại Cửu Âm Chân Kinh chưa?
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/tam-noi-khai-mo-thi-nen-ve-phai-nao.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cn.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/tam-noi-khai-mo-thi-nen-ve-phai-nao.html">
              [Góc chia sẻ] Tam Nội khai mở thì nên về phái nào?
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>20-09-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Ngự Miêu lại tiếp tục trở lại với quý nhân sĩ trong câu chuyện khi Tam Nội khai mở. Hãy cùng đón xem!
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/mo-noi-3-thi-nhan-si-nen-lam-gi.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_cn.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/mo-noi-3-thi-nhan-si-nen-lam-gi.html">
              [Góc chia sẻ] Mở Nội Công 3 thì nhân sĩ nên làm gì?
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>19-09-2018</span></p>
            <div class="container-event-description">
                <h4>
                    "Đi một ngày đàng học một sàng khôn" - Trên đường hành tẩu, trải nghiệm thế giới Cửu Âm Chân Kinh, tại hạ đã dành dụm được một số kinh nghiệm xương máu, nay mạn phép chia sẻ cùng quý đồng đạo.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-farm-diem-binh-luc-tung-hoanh-tu-hai.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/news/2014/07/26/01/image004.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-farm-diem-binh-luc-tung-hoanh-tu-hai.html">
              Hướng dẫn farm điểm Binh Lục - Tung Hoành Tứ Hải
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>01-09-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Tổng thời gian hoàn thành 06 lượt thiết lập, khoảng 1h bạn sẽ có tối thiểu 70 điểm Binh lục. May mắn hơn sẽ là khoảng 80-100 điểm binh lục.
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-nhiem-vu-cuu-am-chi-noi-cong-2.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_hd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-nhiem-vu-cuu-am-chi-noi-cong-2.html">
              Hướng Dẫn Nhiệm Vụ Cửu Âm Chí và Đổi Nội Công 2
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>19-08-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Nội Công 2 tại máy chủ Độc Cô Cầu Bại khai mở từ ngày 01/08/2018. Bổn Trang sẽ hướng dẫn chư vị nhân sĩ thực hiện nhiệm vụ Cửu Âm Chí và đổi Nội Công 2, chi tiết như sau:
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-tham-gia-doat-thu-mon-phai.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_hd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-tham-gia-doat-thu-mon-phai.html">
              Hướng dẫn tham gia Đoạt Thư Môn Phái
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>15-08-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Cửu Âm Chân Kinh có 1 thư viện võ học vô cùng đồ sộ mang nét riêng cho mình nhờ khả năng"học trộm" kĩ năng của các phái. Để làm được điều đó phải nhờ đến"Cướp Sách - Hộ Thư".
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-tham-gia-mon-phai-chien.html">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_hd.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="http://cuuam.gosu.vn/home/news/huong-dan/huong-dan-tham-gia-mon-phai-chien.html">
              Hướng dẫn tham gia Môn Phái Chiến
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>30-07-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Những cuộc chiến tranh giành vị thế và lợi ích giữa các môn phái luôn xảy ra. Nhân sĩ máy chủ Độc Cô Cầu Bại đã sàng tham gia Môn Phái Chiến diễn ra vào thứ 6, thứ 7 hàng tuần?
                </h4>
            </div>
        </div>
    </div>
    <div class="container-event-info event-vk">
        <div class="container-event-image">
            <a href="https://id.gosu.vn/News/Details/167" target="_blank">
                <img src="http://cuuam.gosu.vn/home/static/uploads/anh-tin-bai/phan-1/143x137_tb.jpg" />
            </a>
        </div>
        <div class="container-event-content">
            <h3>
                <a href="https://id.gosu.vn/News/Details/167" target="_blank">
              Hướng dẫn Nạp GOSU bằng cách thanh toán trực tiếp
            </a>
            </h3>
            <p class="event-date">Ngày đăng: <span>05-07-2018</span></p>
            <div class="container-event-description">
                <h4>
                    Từ nay, Đại hiệp đã có thể thanh toán trực tiếp qua kênh nạp GOSU. Đặc biệt nhận 100% giá trị thẻ nạp!
                </h4>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="top"><a href="#">Lên trên</a></div>
        <div class="details">
            <a href="http://cuuam.gosu.vn/home/news/huong-dan.html">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END Hướng dẫn -->
</div>
</div>