<div class="nav">
    <ul class="nav-list">
        <li *ngFor="let cate of menuLeft">
            <a class="nav-link" [routerLink]="['#']" routerLinkActive="router-link-active">{{cate.name}}</a>
        </li>

        <li class="logo">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" style="
          width: 150px;
          height: 150px;
          position: absolute;
          margin-left: -50px;
        " class="nav-link"></a>
        </li>
        <li *ngFor="let cate of menuRight">
            <a class="nav-link" [routerLink]="['#']" routerLinkActive="router-link-active">{{cate.name}}</a>
        </li>
    </ul>

    <ul class="navexpand-list pa">
        <div *ngFor="let cate of menuLeft; let i = index">
            <li [ngClass]="{ firstopt: i == 0 }">
                <div *ngFor="let item of cate.items">
                    <a class="navexpand-link" style="width: 100%;" [routerLink]="[item.url]" routerLinkActive="router-link-active">{{item.name}}</a>
                    <i style="cursor: pointer;" (click)="deleteSubMenu(item)" class="fa fa-trash"></i>

                </div>

                <a class="navexpand-link" style="width: 100%;cursor: pointer;" (click)="addSubMenu(cate)">Thêm</a>


            </li>
        </div>

        <li class="navexpand-logo">
            <h1>
                <a [routerLink]="['/']" routerLinkActive="router-link-active" style="width: 150px; height: 150px; position: absolute;"></a>
            </h1>
        </li>
        <div *ngFor="let cate of menuRight; let i = index">
            <li [ngClass]="{bord: i == menuRight.length - 1}">
                <div *ngFor="let item of cate.items">
                    <a class="navexpand-link" style="width: 90%;" [routerLink]="[item.url]" routerLinkActive="router-link-active">{{item.name}} </a>
                    <i style="cursor: pointer;" (click)="deleteSubMenu(item)" class="fa fa-trash"></i>
                </div>
                <a class="navexpand-link" style="width: 100%;cursor: pointer;" (click)="addSubMenu(cate)">Thêm</a>
            </li>
        </div>

    </ul>
</div>